@font-face {
   font-family: 'twaysky';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
@font-face {
   font-family: 'KyoboHand';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Y_Spotlight';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Wemakeprice-Bold';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'GowunBatang-Regular';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'EliceDigitalBaeum_Bold';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'HangeulNuri-Bold';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Pretendard-Regular';
   src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}
.ck-editor__editable:not(.ck-editor__nested-editable) {
   height: 400px;
   overflow: scroll;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.pagination{
   display: flex;
   width: 100%;
   height: 45px;
   justify-content: center;
   align-items: center;
   margin: 0;
   -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
   box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4);
}
.pagination>li{
   list-style: none;
   width: 40px;
   height: 40px;
   margin: 0 5px;
   font-weight: 600;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   
   
}
.domNavLinks{
   text-decoration: none;
   color: black;
   font-family: 'EliceDigitalBaeum_Bold';
   text-transform: uppercase;
}
.domNavLinks:hover{
   color: black;
}
.bbtn{
   display: none;
}
.bbttn{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bbtned{  
   position: fixed; 
   opacity: 0; 
   bottom: 40px; 
   right: 155px;
   z-index: -10; 
   width: 50px; 
   height: 50px;
   border-radius: 100%;
   border: 0 none;
   color: blueviolet;
   border: 2px solid blueviolet;
   font-size: 18px;
   font-weight: bold;
   letter-spacing: -0.06em;
   box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.3);
   cursor: pointer;
   transition: opacity 0.3s ease-in;
}
.bbtned.active {
   z-index: 10; 
   opacity: 1; 
 }
.bbtned:hover,
.bbtned:focus,
.bbtned:active { 
  outline: 0 none; 
}
.App{
   margin: 0 17%;
   min-height: 100vh;
}
.daemunIMG{
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'EliceDigitalBaeum_Bold';
   width: 100%;
   height: 200px;
   background-image: url("https://images.unsplash.com/photo-1528565240216-4f2d07f99ffa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1020&q=80");
   background-size: cover;
   background-position: center left;
   -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
   box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4);
}
.daemunIMGLINK{
   color: rgb(255, 255, 255);
   text-decoration: none;
}
.daemunIMGLINK:hover{   
   color: rgb(255, 255, 255);
}
.SideBar{
   width: 100%; 
   padding: 0 3px;
   -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
   box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4);
}
.menuvertical{
   height: 500px;
   padding: 20px 0 0 5px ;
}
.menuvertical>ul{
   display: flex;
   flex-direction: column;
}
.menuvertical>ul>li:hover{
   background: rgba(158, 158, 158, 0.473);
}
.slideVetical{
   padding: 0;
}
.sliderItems{
   margin-bottom: 8px;
   list-style: none;
   height: 40px;
   transition: 0.25s;
   display: flex;
   cursor: pointer;
   padding: 0 5px;
}
.sliderItems>div{
   width: 50%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-left: 13px;
}
.sliderItem{
   margin-bottom: 8px;
   list-style: none;
   display: flex;
   padding: 0 5px;
   height: 200px;
   flex-wrap: wrap;
   list-style: none;
   overflow-y: hidden;
   transition: 0.35s;
   cursor: pointer;
}
.sliderItem>div:nth-child(1){
   width: 50%;
   height: 40px;
   display: flex;
   justify-content: flex-start;
   padding-left: 13px;
   align-items: center;
}
.sliderItem>div:nth-child(2){
   width: 50%;
   display: flex;
   height: 40px;
   padding-right: 5px;
   justify-content: flex-end;
   align-items: center;
}
.sliderItem>div:nth-child(3){
   width: 100%;
}
.sliderItem>div>ul{
   padding: 0;
}
.sliderItem>div>ul>li{
   list-style: none;
   width: 100%;
   height: 35px;
   padding-left: 15%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   transition: 0.25s;
   margin: 0 0 5px 0%;
   cursor: pointer;
}
.sliderItem>div>ul>li:hover{
   background: white
}
.Ads{
   height: 250px;
}
/***************************homehwamyun***************************/
.homehwamyun{
   margin-top: 20px;
   min-height: 76vh;
   display: grid;
   grid-template-columns: 80% 20%;
}
.mainSect{
   width: 99%;
}
.mainJogack{
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-bottom: 15px;
   -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
   box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4);
}
.mainJogack:nth-child(3){
   margin: 0;
}
/***************************homehwamyun END***********************/
/**************************bbsThumb******************************/
.bbsThumb{
   margin: 0 5px;
   min-height: 200px;
   padding: 0 5px;
   font-family: 'KyoboHand';
}
.bbsTitles{
   height: 40px;
   padding-left: 10px;
   font-family: 'Wemakeprice-Bold';
   margin: 4px;
}
.bbsLists{
   display: flex;
   align-items: center;
   height: 40px;
   padding:  0 9.5px 0 32px;
   border-bottom: 1px solid lightgray;
}
.bbsLINKs{
   text-decoration: none;
   text-transform: uppercase;
   color: black;
   font-weight: 400;
}
.bbsanchor{
   text-decoration: none;
   color: black;
}
/*************************bbsThumb END*************************/
/**************************LoginPage***************************/
.LoginPage{
   width: 100%;
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Wemakeprice-Bold';
}
.loginform{
   width: 55%;
}
.loginform>.loginput>input{
   width: 100%;
   height: 50px;
   border-radius: 8px;
   border: 1px rgb(65, 185, 255) solid;
   transition: 0.25s;
   padding-left: 15px;
}
.loginform>.loginput>label{
   margin-bottom: 5px;
   text-transform: uppercase;
   color: lightslategray;
}
.loginput{   
   height: 100px;
   margin: 10px 0;
}
.loginton{
   height: 85px;
   margin-top: 10px;
}
.loginton>input{
   border: none;
   border-radius: 8px;
   width: 100%;
   height: 50px;
   border: none;
   background-color: rgb(55, 123, 248);
   color: white;
   font-size: larger;
   cursor: pointer;
   text-transform: uppercase;
}
.loginform>div>.loginInput:focus{
   height: 60px;
   outline-width: inherit;
   font-size: x-large;
}
/***************************LoginPage END**********************/
/**********************noticePage******************************/
.noticePage{
   width: 100%;
   display: flex;
   flex-direction: column;
   padding: 0 15px 0 0;
}
.noticePageTitle{
   font-family: 'Iropke Batang', serif; 
   padding: 8px;
   -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
   box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4);
}
.noticePageDesc{
   padding: 10px;
   font-family: 'Iropke Batang', serif; 
   -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
   box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4);
}
.noticePageDesc>.table{
   width: 100%;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.noticePageDesc>.table>table{
   width: 80%;    
   border-spacing: 0px;
   padding: 0;
}
.noticePageDesc>.table>table>tbody>tr>td{
   text-align: center;
   border: lightgrey 1px solid;
}
.noticePageIMGDIV{
   width: 100%;
   height: 50%;
   margin-bottom: 8px;
   display: flex;
   justify-content: center;
   padding: 8px;
}
.noticePageIMG{
   width: 50%;
   object-fit: contain;
}
.noticePageButton{
   margin-top: 8px;
   height: 50px;
}
.noticePageButton>ul{
   display: flex;
   height: 100%;
   -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
   box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4);
}
.noticePageButton>ul>li{
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
}
.noticeInfiniteScroll{
   min-height: 780px;
}
.bbsTable{
   display: flex;
   flex-direction: column;
   height: 730px;
   margin-bottom: 12.3px;
}
.listContents{
   height: 45px;
   text-align: center;
   border-bottom: 1px lightgray solid;
}
.listContents:nth-child(2){
   text-align: left;
   padding-left: 45px;
}
.bbsTitle{
   height: 65px;
   color: white;
   background: lightgrey;
   text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
   display: flex;
   justify-content: center;
   align-items: center;
   -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
   box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4);
}
.bbsTabless{
   width: 100%;    
   border-spacing: 0px;
   padding: 0 5px 5px 5px;
   -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
   box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4);
}
.bbsTabless>thead>tr{
   vertical-align: inherit;
}
.bbsTabless>thead>tr>th{
   margin: 5px;
   padding: 5px;
}
.imgName{
   display: grid;
   grid-template-columns: repeat(3,1fr);
}
.instarGram{
   margin: 5px;
   height: 250px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
   box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4);
}
.imgBox{
   height: 80%;
   width: 80%;
   padding: 8px 5px 5px 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.imgBox>img{
   width: 100%;
   background-color: transparent;
   height: 100%;
   object-fit: contain;
}
.qwer{
   height: 20%;
   width: 80%;
   border-top: 1px black solid;
   font-family: 'Iropke Batang', serif; 
   display: flex;
   justify-content: center;
   align-items: center;
}
.infinitescrolls{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 7px;
   height: 50px;
   -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
   box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
}
.infinitescrolls>button{
   border: none;
   border-radius: 5px;
   width: 60px;
   height: 80%;
   background-color: rgb(0, 194, 145);
   color: white;
   font-weight: 800;
   transition: 0.25s;
}
.infinitescrolls>button:hover{
   background-color: rgb(31, 250, 184);
}
/*********************noticePage END**************************/
/****************************WriteSect***********************/
.WriteSect{
   width: 99%;
   -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
   box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4);
}
.contentsTitle{
   margin: 0 15px 10px 0;
   padding: 8px;
   display: flex;
   justify-content: center;
   align-items: center;flex-direction: column;   
}
.contentsTitle>h2{
   text-transform: uppercase;
   font-family: 'Iropke Batang', serif; 
}
.contentsTitleDiv{
   width: 100%;
   display: flex;
}
.contentsTitleDiv>input{
   width: 100%;
   height: 50px;
   padding-left: 8px;
   border: 1px rgb(167, 167, 167) solid;
}
.contentsTitleDiv>input:focus{   
   outline-width: inherit;
}
.editorsSect{
   margin: 0 15px 0 0;
}
.confirm{
   margin: 13px 15px 0 0;
   padding: 8px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.confirm>button{
   width: 85px;
   height: 45px;
   font-weight: 800;
   text-transform: uppercase;
   color: white;
   font-family: 'Pretendard-Regular';
}
#doc-select{
   margin-right: 8px;
}
/**************************WriteSect END*********************/
/****************************Prologue************************/
.Prologue{
   font-family: 'Iropke Batang', serif; 
   display: flex;
   width: 99%;
   flex-direction: column;
   padding: 0 15px;
   -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
   box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4);
}
/**************************Prologue END**********************/
/************************************Calendar***************/
.CalenderBody{   
   width: 100%;
   display: flex;
   font-family: 'KyoboHand';
   padding: 0 5px;
}
.calender,.eventShow{
   width: 100%;
   height: 50%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.eventShow>span{
   height: 30px;
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 5px;
   align-items: center;
   border: 1px solid lightgray;
}
.eventShow>ul{
   height: auto;
   width: 100%;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   list-style: none;
}
.eventShow>ul>li{
   display: flex;
   width: 100%;
   margin-bottom: 5px;
}
.eventShow>ul>li>div{
   width: 15%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid lightgray;
}
.eventShow>ul>li>span{
   width: 85%;
   margin-left: 2.25px;
   text-align: center;
   border: 1px solid lightgray;
}
.eventShow>ul>li>div::before{
   content: "✔";
}
#calsBox{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.달력상단부{margin-bottom: 2px;}
.달력상단부>div{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin: 0 1px;
   height: 30px;
   border: lightgrey 1px solid;
   cursor: pointer;
}
#calsBox>div{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
#calsBox>div>button{
   width: 50%;
   height: 30px;
   border: none;
   margin: 0 2px;
   background-color: transparent;
   border: lightgrey 1px solid;
   cursor: pointer;
}
#calsBox>div>button:hover{
   background-color: rgba(216, 191, 216, 0.295);
}
.cals{
   width: 100%;
   height: 100%;
   text-align: center;
}
.cals>thead>tr{
   display: grid;
   grid-template-columns: repeat(7,1fr);
}
.cals>thead>tr>th{
   border: 1px solid lightgray;
   height: 25px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 3px;
}
.cals>thead>tr>th:nth-child(1){
   color: rgb(255, 59, 59);
}
.cals>thead>tr>th:nth-child(7){
   color: rgb(50, 50, 255);
}
.cals>tbody>tr{
   display: grid;
   grid-template-columns: repeat(7,1fr);
}
.cals>tbody>tr>td{
   border: 1px solid lightgray;
   height: 30px;
   cursor: pointer;
   margin: 3px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.realCal>tr>td:nth-child(1){
   color: rgb(255, 59, 59);
}
.realCal>tr>td:nth-child(7){
   color: rgb(50, 50, 255);
}
.evenee{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 8px;
   background: rgba(255, 255, 255, 0.089);
   border-top: 1px solid rgba(255,255,255,0.5);
   backdrop-filter: blur(8px);
   box-shadow: 0 15px 25px rgba(194, 194, 194, 0.1);
   width: 100%;
   height: 35px;
}
.selected{background-color: rgba(40, 136, 131, 0.432); color: white;}
.grayed{background-color:rgba(124, 124, 124, 0.219);}
.이벤트추가{
   width: 99%; 
   padding: 0 15px;
   -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
   box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4);
}
.eventRecord{
   width: 100%;
   min-height: 150px;
   list-style: none;
   padding: 0;
   display: flex;
   
   
}
.eventRecord>li{
   width: 18.3%;
   min-height: 150px;
   display: flex;
   justify-content: center;
}
.eventRecord>li>button{
   height: 50px;
}
.eventRecord>li:nth-child(2){
   width: 45%;
}
.eventRecord>li>ul{
   padding: 0;
   width: 100%;
   list-style: none;
}
.eventRecord>li>ul>li{
   padding: 0 4px;
   margin-bottom: 3px;
}
.eventRecord>li>ul>li>input{
   width: 100%;
}
/****************************Calendar END*******************/
/***************************리플**************************/

.리플박스{
   max-height: 270px;
   margin: 2px 0;
   padding: 7px;
   
   
   overflow-y: scroll;
   font-family: 'Iropke Batang', serif; 
}
.리플창{
   width: 100%;
   display: flex;
   margin-bottom: 5px;
}
.리플s{
   width: calc( 100% - 55px );
   display: flex;
   flex-direction: column;
}
.리플s>div:nth-child(1){
   padding-left: 5px;
   font-size: small;
   height: 40%;
}
.리플s>div:nth-child(2){
   word-wrap: break-word;
   padding-left: 15px;
   border: 1px solid lightgray;
   display: flex;
   align-items: center;
   margin-left: 2.75px;
}
.djEJsshadlsi{
   width: 55px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(144, 238, 144, 0.795);
}
.djEJsshadlsi>img{
   width: 50px;
   border: 1px solid lightgray;
   height: 50px;
   border-radius: 50%;
}
.고소제조기{
   margin: 7px 0;
   padding: 8px;
   height: 50px;
   
   
   display: flex;
   flex-direction: row;
}
.고소제조기>input{
   width: 90%;
   border-radius: 5px;
   border: 1px lightgray solid;
   transition: 0.25s;
   padding-left: 15px;
}
.고소제조기>input:focus{
   outline-width: inherit;
}
/************************리플 끝***********************/
/***********************세팅 박************************/
.SETTINGWANG{
   width: 99%;
   min-height: 800px;
   padding:0 10px;
   -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
   box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4);
   display: flex;
   flex-wrap: wrap;
}
.settingprince{
   width: 50%;
   min-height: 350px;
   border: 1px grey solid;
}
.replyDelete{
   display: flex;
   flex-direction: column;
}
.replyDelete>h2{
   height: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.replyDelete>div{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   padding: 0 5px;
   grid-gap: 5px;
}
.shutDownReply{
   display: flex;
   flex-direction: column;
}
.shutDownReply>h2{
   width: 100%;
   height: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.shutDownReply>div{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.shutDownReply>div>select{
   width: 50%;
}
.dcconUpdate{
   padding: 5px;
   width: 50%;
   display: flex;
   flex-direction: column;
}
.dcconUpdate>textarea{
   margin-bottom: 8px;
}
/************************세팅 박 끝********************/
/**********************************광고창***************/
.dcconpage{
   width: 99%;
   padding: 10px;
   -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4); 
   box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.4);
   font-family: 'GowunBatang-Regular';
}
.dcconName{
   height: 150px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.dcconName>h2{
   height: 25%;
   cursor: pointer;
   margin: 0;
}
.dcconName>h2:hover{
   color: red;
}
.copyDccon{
   width: 100%;
   height: 55%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.copydc,.searchdc{
   width: 50%;
   height: 100%;
   padding: 0 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.copyDccon>div>input,.copyDccon>div>select{
   width: 75%;
   height: 40px;
   border: 1px solid blue;
   padding-left: 18px;
   -o-appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   font-weight: 600;
}
.copyDccon>div>input:focus,.copyDccon>div>select:focus{
   outline: none;
}
.copyDccon>div>button{
   width: 25%;
   height: 40px;
   border: none;
   background-color: blue;
   color: white;
}
.dcconName>p{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 20%;
   width: 100%;
   margin: 0;
}
.dcconlists{
   margin-top: 15px;
   padding: 3px;
   height: 750px;
   overflow-y: scroll;
   border: 1px solid lightgray;
}
.dcconlists::-webkit-scrollbar{
   display: none;
}
.dcconlist{
   display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(5, minmax(100px, auto));
   gap: 5px;
}
.dccon{
   height: 125px;
   transition: ease 0.25s;
   cursor: pointer;
   background-color: skyblue;
}
.dccon:hover{
   background-color: rgb(32, 172, 228);
}
.dcdccon{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.dcdccon>img{
   width: 100px;
   height: 100px;
}
/******************************광고창 끝****************/
@media screen and (max-width: 910px) { 
   .App{margin: 0 3.4%;}
   .daemunIMG {height: 150px;}
   .homehwamyun {margin-top: 20px; min-height: 76vh; display: flex; flex-direction: column;}
   .mainSect {display: flex; width: 100%; flex-direction: column; padding: 0;}
   .mainJogack {margin-right: 2px; width: 100%;}
   .bbsThumb {min-height: 250px; padding-top:15.5px;}
   .CalenderBody{ flex-direction: column; }.eventShow,.calender{width: 100%;}
   .SideBar {
      width: 158px;
      box-shadow: 2px 2px 11px 1px rgb(0 0 0 / 23%);display: block;
      position: fixed;
      top: 0px;
      right: -158px;
      height: 100vh;
      z-index: 10;
      background-color: white;
      transition: All 0.4s ease;
      -webkit-transition: All 0.4s ease;
      -moz-transition: All 0.4s ease;
      -o-transition: All 0.4s ease;
   }
   .bbtn{
      display: block;
      position: fixed;
      bottom: 0px;
      width: 25px;
      height: 25px;
      right: 0;
      border-radius: 50%;
      color: white;
      background-color: rgba(173, 173, 173, 0.726);
      z-index: 12;
      transition: All 0.4s ease;
      -webkit-transition: All 0.4s ease;
      -moz-transition: All 0.4s ease;
      -o-transition: All 0.4s ease;
   }
   .bbtned{
      display: none;
   }
   #slide_true {right: 0px;}
   .sliderItems,.sliderItem{
      padding: 0;
   }
   .noticePage,.LoginPage,.WriteSect,.Prologue,.SETTINGWANG,.이벤트추가{
      width: 100%;
      padding: 0;
   }
   .eventRecord{
      flex-direction: column;
   }
   .eventRecord>li:nth-child(2) {
      width: 100%;
  }
   .eventRecord>li{
      width: 100%;
   }
   .WriteSect>*{
      margin: 0;
   }
   .noticePageButton>ul{
      padding: 0;
   }
   .listContents:nth-child(2) {
      text-align: left;
      padding-left: 5px;
   }
   .imgName{
      display: grid;
      grid-template-columns: repeat(2,1fr);
   }
   .copyDccon {
      width: 100%;
      height: 55%;
      flex-direction: column;
   }  
   .copydc, .searchdc {
      width: 100%;
      margin: 5px 0;
   }
   .dcconlist{      
      grid-template-columns: repeat(3, 1fr); 
      grid-template-rows: repeat(5, minmax(100px, auto));
   }
}